@-webkit-keyframes fade-out {
    0% {
        visibility: visible;
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}
@keyframes fade-out {
    0% {
        visibility: visible;
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}
@-webkit-keyframes rubber-band {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}
@keyframes rubber-band {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}
@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-webkit-keyframes fade-out-up {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
}
@keyframes fade-out-up {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
}
@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-webkit-keyframes wobble {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
