%main.single-main
  .login-panel
    = form_for @user, html: { role: 'form'} do |f|
      = f.error_messages!
      .login-form-inner
        .form-group
          = f.text_field :name, placeholder: "ニックネームを入力してください", class: "login-input-text input-default", required: true
        = render 'registrate/form', f: f
        %button{ "type" => "submit",  class: "login-submit btn-default btn-red"} 新規登録
