.icon-like {
    color: $primary-color
}
.icon-like-border {
    color: $border-color
}
.icon-facebook {
    color: $white-color;
    background: $facebook-color;
    font-size: 18px
}
.icon-google-plus {
    color: $white-color;
    background: $google-color;
    font-size: 14px
}
.icon-line {
    color: $white-color;
    background: $line-color;
    font-size: 22px
}
.icon-pinterest {
    color: $white-color;
    background: $pinterest-color;
    font-size: 18px
}
.icon-twitter {
    color: $white-color;
    background: $twitter-color;
    font-size: 16px
}
.icon-time {
    font-size: 16px;
    vertical-align: middle
}
.icon-good {
    color: $good-color
}
.icon-normal {
    color: $nutral-color
}
.icon-bad {
    color: $bad-color;
}
.icon-balloon {
    font-size: 15px
}
