.form-require,
.form-arbitrary,
.message-is-seller,
.news-private {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $white-color;
    font-size: 12px;
    vertical-align: top
}
.mypage-tabs,
.listing-tabs,
.review-history-tabs {
    border: 0;
    background: $gray-white-color;
    font-size: 0
}
.mypage-tabs li,
.listing-tabs li,
.review-history-tabs li {
    display: inline-block;
    text-align: center;
    vertical-align: top
}
.mypage-tabs li.active,
.listing-tabs li.active,
.review-history-tabs li.active {
    background: $white-color
}
.mypage-tabs li.active a,
.listing-tabs li.active a,
.review-history-tabs li.active a {
    border-top: 2px solid $primary-color;
}
.mypage-tabs a,
.listing-tabs a,
.review-history-tabs a {
    position: relative;
    display: block;
    color: $black-color;
    font-size: 16px;
    line-height: 72px
}
.mypage-tabs a:hover,
.listing-tabs a:hover,
.review-history-tabs a:hover {
    text-decoration: none
}
.mypage-tabs .mypage-nav-number,
.listing-tabs .mypage-nav-number,
.review-history-tabs .mypage-nav-number {
    top: 16px;
    right: 2px
}
