%section.mypage-tab-container-notification-todo
  %ul.mypage-tabs
    %li.active
      %h3
        %a{:href => "/jp/mypage/notification/"}
          お知らせ
    %li
      %h3
        %a{:href => "/jp/mypage/todo/"}
          やることリスト
  .tab-content
    %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", "data-pin-nopin" => "true", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「【要チェック】こんなアイテムも売ってるんです！」
            %time
              %i.icon-time
              %span 2 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", "data-pin-nopin" => "true", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「必ず300ポイントもらえる！姉妹アプリ「メルカリ アッテ」キャンペーン実施中」
            %time
              %i.icon-time
              %span 5 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", "data-pin-nopin" => "true", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 【dケータイ払いプラスでWチャンス】今日はd曜日！「dポイント」と「メルカリポイント」をダブルでゲット！詳細を確認しよう！
            %time
              %i.icon-time
              %span 8 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 【ドコモ以外でも使える】dケータイ払いプラスでメルカリポイントをゲット！詳細を確認しよう！
            %time
              %i.icon-time
              %span 13 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 販売手数料割引キャンペーンが期間延長！詳細を確認しましょう。
            %time
              %i.icon-time
              %span 17 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「冬の準備もお得です！」
            %time
              %i.icon-time
              %span 33 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「300ポイントもらえる！姉妹アプリ「メルカリ アッテ」登録キャンペーン」
            %time
              %i.icon-time
              %span 38 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://item.mercari.com/jp/m162647582/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/member_photo_noimage_thumb.png"}/
          .mypage-item-body
            .mypage-item-text スミタさんが「fks」にコメントしました
            %time
              %i.icon-time
              %span 41 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 中の人がこっそり教える売れ筋と注目商品★追加出品は今がチャンス♪
            %time
              %i.icon-time
              %span 42 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text メルカリでよく売れる商品説明の書き方教えます★こちらをチェック♪
            %time
              %i.icon-time
              %span 43 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 価格と送料どう決める？メルカリで売れるための秘訣教えます★
            %time
              %i.icon-time
              %span 44 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「商品削除のお知らせ」
            %time
              %i.icon-time
              %span 45 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://item.mercari.com/jp/m146643154/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/402834782.jpg?1476007718"}/
          .mypage-item-body
            .mypage-item-text カード専門さん、他5名が「白猫テニス セリナ」にコメントしました
            %time
              %i.icon-time
              %span 57 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「秋物・ハロウィン準備も今がお得です！」
            %time
              %i.icon-time
              %span 64 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 68 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「ダウンロードだけで300ポイントGET！　姉妹アプリ「メルカリ アッテ」」
            %time
              %i.icon-time
              %span 69 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「秋の準備もメルカリがお得！」
            %time
              %i.icon-time
              %span 94 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 98 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「ダウンロードでポイントGET！　メルカリの姉妹アプリ「メルカリ アッテ」ダウンロードキャンペーン」
            %time
              %i.icon-time
              %span 98 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 128 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 158 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 188 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 218 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 248 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 278 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 288 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 298 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m814117500/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/314542313.jpg?1478826448"}/
          .mypage-item-body
            .mypage-item-text RQZ✨~即買いok!プロファイル必読♪さんがあなたを評価しました。これで取引完了です。
            %time
              %i.icon-time
              %span 299 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/302731994.jpg?1466341575"}/
          .mypage-item-body
            .mypage-item-text GH 6120 即購入の方優先プロフ必須さんから「DELL 17インチモニター （中古）サブモニター等に」の取引メッセージがあります
            %time
              %i.icon-time
              %span 300 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/302731994.jpg?1466341575"}/
          .mypage-item-body
            .mypage-item-text GH 6120 即購入の方優先プロフ必須さんから「DELL 17インチモニター （中古）サブモニター等に」の取引メッセージがあります
            %time
              %i.icon-time
              %span 300 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/302731994.jpg?1466341575"}/
          .mypage-item-body
            .mypage-item-text GH 6120 即購入の方優先プロフ必須さんから「DELL 17インチモニター （中古）サブモニター等に」の取引メッセージがあります
            %time
              %i.icon-time
              %span 300 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/302731994.jpg?1466341575"}/
          .mypage-item-body
            .mypage-item-text GH 6120 即購入の方優先プロフ必須さんから「DELL 17インチモニター （中古）サブモニター等に」の取引メッセージがあります
            %time
              %i.icon-time
              %span 300 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/members/302731994.jpg?1466341575"}/
          .mypage-item-body
            .mypage-item-text GH 6120 即購入の方優先プロフ必須さんがあなたを評価しました。これで取引完了です。
            %time
              %i.icon-time
              %span 300 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m211726809/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/photos/m211726809_1.jpg?1452334952"}/
          .mypage-item-body
            .mypage-item-text 「DELL 17インチモニター （中古）サブモニター等に」の支払いをしました。発送までしばらくお待ちください。
            %time
              %i.icon-time
              %span 303 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m814117500/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/thumb/photos/m814117500_1.jpg?1452984664"}/
          .mypage-item-body
            .mypage-item-text 「新品送料込Mini VGA to VGAアダプタケーブル603-0607」の支払いをしました。発送までしばらくお待ちください。
            %time
              %i.icon-time
              %span 303 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「今なら出品するだけで300ポイントGET!!」
            %time
              %i.icon-time
              %span 308 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/point/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp.akamaized.net/images/mercari_default.png"}/
          .mypage-item-body
            .mypage-item-text 有効期限が近づいているポイントがあります
            %time
              %i.icon-time
              %span 311 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「期間限定の200円分ポイントをプレゼントしました！」
            %time
              %i.icon-time
              %span 313 日前
          %i.icon-arrow-right
      %li
        %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
          %figure
            %img{:alt => "", :src => "//static-mercari-jp-web-imgtr.akamaized.net/images/mercari_profile.png"}/
          .mypage-item-body
            .mypage-item-text 事務局から個別メッセージ「新商品が昨日より10万品以上増えてます！　欲しかった物が見つかるかも♪」
            %time
              %i.icon-time
              %span 314 日前
          %i.icon-arrow-right
    %ul#mypage-tab-todo.mypage-item-list.tab-pane
      %li.mypage-item-not-found.bold 現在、やることリストはありません
