-# = form_for @inquiry, html: { role: 'html', class: '' } do |f|
-#   = f.text_field :nickname
-#   = f.text_field :title
-#   = f.text_area :content
-#   = f.submit "go"
%footer.global-footer
  -#TODO ここのclass 名がごちゃってるからちゃんとつくる
  %a.footer-logo
    buybye
  %p.footer-copyright
    %small © 2016 Mercari
- if current_user
  = link_to new_item_path, class: "footer-sell-btn" do
    %div 出品
    %i.fa.fa-paper-plane-o.fa-2x{ style: "margin: 20px 0 0; font-size: 54px;" }
- else
  = link_to login_path, class: "footer-sell-btn" do
    %div 出品
    %i.icon-plane.fa.fa-paper-plane-o.fa-2x{ style: "margin: 20px 0 0; font-size: 54px;" }
