%footer.global-footer
  %a.footer-logo
    buybye
  %p.footer-copyright
    %small © 2016 Mercari
- if current_user
  = link_to new_item_path, class: "footer-sell-btn" do
    %div 出品
    %i.icon-camera
- else
  = link_to login_path, class: "footer-sell-btn" do
    %div 出品
    %i.icon-camera
