%footer.global-footer
  %nav
    %ul.clearfix
      %li.download-app
        %a{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=common.footer"}
          %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?516932919", :width => "35px"}>/
          今すぐ無料ダウンロード！
      %li.footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} 利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/about/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://www.mercariatte.com/jp/", :target => "_blank"} メルカリアッテ
      %li.footer-cell
        %h2.footer-head メルカリを見る
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/category/"} カテゴリー一覧
          %li
            %a{:href => "https://www.mercari.com/jp/brand/"} ブランド一覧
          %li
            %a{:href => "https://www.mercari.com/jp/area/"} 出品地域一覧
          %li
            %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"} 公式Twitter
          %li
            %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"} 公式Facebook
      %li.footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li
            %a{:href => "https://www.mercari.com/jp/info/"} お知らせ
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便とは
          %li
            %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
      %li.footer-cell
        %h2.footer-head 言語
        %ul.footer-nav-lang
          %li
            %a{:href => "https://www.mercari.com/"}
              %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?516932919", :width => "22"}>/
              United States
          %li
            %a.active{:href => "https://www.mercari.com/jp/"}
              %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?516932919", :width => "22"}>/
              日本語
  %a.footer-logo{:href => "https://www.mercari.com/jp/"}
    %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg", :width => "124"}/
  %p.footer-copyright
    %small © 2016 Mercari
- if current_user
  = link_to "", class: "footer-sell-btn" do
    %div 出品
    %i.icon-camera
- else
  = link_to login_path, class: "footer-sell-btn" do
    %div 出品
    %i.icon-camera
.custom-banner.custom-banner-ios.banner-pattern1.clearfix
  %figure
    %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?516932919", :width => "56"}/
  .clearfix
    .banner-rating
      %figcaption
        iOS版メルカリ
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?516932919", :width => "12"}/
      %span.user-num (6,698)
    %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=installHeader.creative1", :target => "_blank"} インストール
    %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
  %i.icon-close
.custom-banner.custom-banner-android.banner-pattern1.clearfix
  %figure
    %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?516932919", :width => "56"}/
  .clearfix
    .banner-rating
      %figcaption
        Android版メルカリ
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?516932919", :width => "12"}/
      %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?516932919", :width => "12"}/
      %span.user-num (60,414)
    %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=android&adgroup=installHeader.creative1", :target => "_blank"} インストール
    %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
  %i.icon-close
